Source: bbb-plugin-tour
Section: web
Priority: extra
Maintainer: Anton Georgiev <anton.georgiev@blindsidenetworks.com>
Build-Depends: debhelper (>= 13), nodejs (>= 18)
Standards-Version: 4.1.4
Homepage: https://github.com/bigbluebutton/bbb-plugin-tour

Package: bbb-plugin-tour
Architecture: all
Depends: ${misc:Depends}, nodejs
Description: Guided tour of the BigBlueButton client
 An official BigBlueButton plugin which adds a guided
 tour of the client's main features to the options
 menu of a session.
